@use '../abstracts/variables' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $background-color;
  color: white;
  margin-left: 120px;
  margin-right: 120px;
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 42%;
}
